
.provide{
  background-image: url(./Image/BG.svg);
}
.solution{
  font-family: sans-serif;
}
.secBg{
  background-image: url(./Image/SecBg.svg)
}
.rectangle{
  background-image: url(./Image/BG3.svg);
}
.bubble{
  background-image: url(./Image/Group437.svg);
}
.mobile{
  background-image: url(./Image/Group440.svg);
}
.Back{
  background-image: url(./Image/BG5.svg);
}
.Discover{
  background-image: url('./Image/Mask.png');
}
.bitcoin{
  font-weight: 700;
}